colorama~=0.4.6
pytz~=2024.2
pysftp~=0.2.9
requests~=2.32.3
PyYAML~=6.0.2
psutil~=6.1.0
setuptools~=75.3.0
pexpect~=4.9.0
GitPython~=3.1.43
PyGithub~=2.4.0
python-gitlab~=5.1.0
cryptography~=44.0.0
python-dotenv~=1.0.1
niklibrary~=0.32
